.footer-container {
  width: 100%;
  background-color: #141d2f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #70e61c;
  padding: 20px;
  box-sizing: border-box;
  height: 160px;

  .footer-and-impressum {
    width: 100%;
    max-width: 1400px;

    .footer-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .name h3 {
        font-size: 40px;
      }

      .my-name {
        font-size: 23px;
      }

      .github-linkedin-email {
        display: flex;

        .social-png {
          display: flex;
          gap: 40px;

          img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            cursor: pointer;
            transition: transform 0.5s ease;

            &:hover {
              transform: rotate(360deg);
            }
          }
        }
      }
    }

    .impressum {
      display: flex;
      justify-content: flex-start;
      margin-top: -26px;
    }
  }
}

@media (max-width: 730px) {
  .footer-container {
    height: auto;

    .footer-and-impressum {
      display: flex;
      flex-direction: column;
      align-items: center;

      .impressum p {
        position: relative;
        top: 20px;
        margin-bottom: 50px;
      }

      .footer-wrapper {
        display: block;

        .my-name {
          font-size: 17px;
          padding: 20px;
        }

        .github-linkedin-email {
          justify-content: center;
          padding: 10px 20px 20px 20px;
        }

        .name h3 {
          text-align: center;
          top: 30px;
          padding-bottom: 40px;
          position: relative;
        }
      }
    }
  }
}
