<div class="nav-bar-container">
    <div class="nav-bar">
        <div class="left-side">
            <p class="fontPoppins">Bas<span class="styled-letter">t</span>ia<span class="styled-letter">n</span></p>
        </div>
        <div class="right-side">
            <a href="#about-me" (click)="setActive($event)">
                {{'aboutMe'|translate}}
            </a>
            <a href="#my-skills" (click)="setActive($event)">
                Skills
            </a>
            <a href="#my-portfolio" (click)="setActive($event)">
                Portfolio
            </a>
            <div class="form-select">
                <select class="form-select" (change)="changeLang($event)" name="" id="" [value]="lang">
                    <option value="en">
                        English
                    </option>
                    <option value="de">
                        German
                    </option>
                </select>
            </div>
        </div>
        <div class="burger-menu" (click)="toggleMenu()">
            &#9776;
        </div>
    </div>
    <div class="dropdown-menu" [ngClass]="{'show': menuOpen}">
        <a href="#about-me" (click)="setActive($event)">
            About me
        </a>
        <a href="#my-skills" (click)="setActive($event)">
            Skills
        </a>
        <a href="#my-portfolio" (click)="setActive($event)">
            Portfolio
        </a>
        <div class="form-select">
            <select class="form-select" (change)="changeLang($event)" name="" id="" [value]="lang">
                <option value="en">
                    English
                </option>
                <option value="de">
                    German
                </option>
            </select>
        </div>
    </div>
</div>