.nav-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #141d2f;
}

.nav-bar {
  width: 1440px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  height: 100px;
  padding: 0 20px;

  .right-side {
    font-size: 23px;
    list-style-type: none;
    display: flex;
    gap: 29px;
    align-items: center;

    a {
      transition: color 0.3s ease;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      color: #9747ff;
    }

    a.active {
      color: #9747ff;
    }
  }

  .left-side p {
    font-size: 40px;
  }

  .burger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }

  .burger-menu:hover {
    color: #9747ff;
  }

  @media (max-width: 650px) {
    .right-side {
      display: none;
    }

    .burger-menu {
      display: block;
    }
  }
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: #141d2f;
  padding: 10px;
  border-radius: 5px;

  a {
    display: block;
    padding: 10px 0;
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #9747ff;
  }

  a.active {
    color: #9747ff;
  }

  &.show {
    display: flex;
  }
}

.form-select {
  width: 100px;
  margin: 0 auto;
  font-family: "Poppins";
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #1f1e1e;
  background-color: #5a5959;
  font-size: 12px;
  cursor: pointer;
}

select:focus {
  outline: none;
}

option {
  text-align: center;
}
