.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  width: 1440px;
  height: 100px;
  padding: 0 20px;

  .right-side {
    font-size: 23px;
    list-style-type: none;
    display: flex;
    gap: 29px;

    a {
      transition: color 0.3s ease;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      color: #9747ff;
    }
  }

  .left-side p {
    font-size: 40px;
  }
}
