<div class="headline-container" id="my-portfolio">
    <div class="portfolio-headline hidden">
        <div class="left-line-wrapper">
            <div class="left-line"></div>
            <div class="left-line-cover"></div>
        </div>
        <h1>Portfolio</h1>
        <div class="right-line"></div>
    </div>
    <div class="portfolio-text hidden">
        <p>{{'myWork' | translate}}</p>
    </div>
</div>
<div class="portfolio-container">
    <div class="portfolio-wrapper-join">
        <div class="left-side hidden">
            <img src="assets/img/Join.svg" alt="">
        </div>
        <div class="right-side">
            <h2>Join</h2>
            <span>JavaScript | HTML | CSS</span>
            <p>{{'Join' | translate}}</p>
            <div class="buttons-wrapper">
                <button class="live-test-button">Live Test</button>
                <button class="github-button" (click)="openGitHubJoin()">Github</button>
            </div>
        </div>
    </div>
    <div class="portfolio-wrapper-el-pollo-loco">
        <div class="left-side hidden">
            <img src="assets/img/elpollo.svg" alt="">
        </div>
        <div class="right-side">
            <h2>El Pollo Loco</h2>
            <span>JavaScript | HTML | CSS</span>
            <p>{{'ElPolloLoco' | translate}}</p>
            <div class="buttons-wrapper">
                <button class="live-test-button" (click)="openGame()">Live Test</button>
                <button class="github-button" (click)="openGitHubGame()">Github</button>
            </div>
        </div>
    </div>
    <div class="portfolio-wrapper-join">
        <div class="left-side hidden">
            <img src="assets/img/pokedex.svg" alt="">
        </div>
        <div class="right-side">
            <h2>Pokédex</h2>
            <span>JavaScript | HTML | CSS | API</span>
            <p>{{'Pokedex' | translate}}</p>
            <div class="buttons-wrapper">
                <button class="live-test-button" (click)="openPokedex()">Live Test</button>
                <button class="github-button" (click)="openGitHubPokedex()">Github</button>
            </div>
        </div>
    </div>
    <div class="purple-shadow-big">
        <img src="assets/img/purple shadow big.svg" alt="">
    </div>
</div>