.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #141d2f;

  .right-line {
    border: 2px solid #70e61c;
    min-width: 50px;
    flex-grow: 1;
  }

  .left-line {
    flex-grow: 1;
  }

  .about-me-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;

    .left-side {
      width: 30%;
      padding-left: 20px;

      .about-me {
        width: 100%;

        .personal-info {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        h1 {
          font-size: 90px;
          font-weight: 700;
        }

        p {
          font-size: 16px;
          padding: 20px 0 20px 0;
        }
      }
    }

    .right-side {
      display: flex;
      align-items: center;

      .image-container-face {
        width: 453px;
        height: 453px;
        border: 4px solid #70e61c;
        border-radius: 50%;
        background-image: url("../../assets/img/face.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
