<div class="about-me-container">
    <div class="left-line"></div>
    <div class="about-me-section">
        <div class="left-side">
            <div class="about-me">
                <h1>About Me</h1>
                <p>Hi, I am a front-end developer based near Koblenz with a passion for creating visually stunning and
                    user-friendly web
                    applications. With a strong foundation in HTML, CSS and JavaScript, I specialise in building
                    responsive and
                    dynamic
                    interfaces. My expertise extends to modern frameworks such as Angular, enabling me to develop
                    high-performance
                    applications with clean, maintainable code.</p>
                <div class="personal-info">
                    <div class="left-side-img">
                        <img src="assets/img/bulb desktop.svg" alt="">
                    </div>
                    <div class="right-side-info">
                        <p>I thrive on collaborating with designers and backend developers to bring innovative ideas to
                            life. My
                            passion for
                            programming drives me to stay updated with the latest industry trends and continuously
                            improve my skills.
                        </p>
                    </div>
                </div>
                <div class="personal-info">
                    <div class="left-side-img">
                        <img src="assets/img/puzzle desktop.svg" alt="">
                    </div>
                    <div class="right-side-info">
                        <p>I've found that collaborative programming has been a great way to develop my skills. Working
                            in a team brings together
                            different perspectives and expertise, which helps create an environment where innovative
                            solutions can flourish.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="image-container-face"></div>
        </div>
    </div>
    <div class="right-line"></div>
    <div class="purple-shadow">
        <img src="assets/img/purple-shadow.png" alt="">
    </div>
</div>