<div class="first-section-container">
  <div class="first-section">
    <div class="left-side">
      <img class="box-shadow" src="assets/img/photo shadows.svg" alt="Shadow">
      <img src="assets/img/beispielbild.png" alt="IMAGE">
    </div>
    <div class="right-side">
      <div class="i-am">
        <p>I am</p>
      </div>
      <div class="name">
        <span class="my-name">Bastian Weschasit</span>
        <span class="frontend-dev">FRONTEND DEVELOPER</span>
        <button (click)="myContact()" class="lets-talk-button">Let's talk!</button>
      </div>
    </div>
  </div>
</div>

<div class="social-container">
  <div class="left-line"></div>
  <div class="github-linkedin-email">
    <div class="social-png">
      <img src="assets/img/github.png" alt="">
      <img src="assets/img/mail.png" alt="">
      <img src="assets/img/linkedin.png" alt="">
      <p>bastianwe&#64;gmx.net</p>
    </div>
    <div class="scroll-down">
      <img src="assets/img/Scroll down.png" alt="">
    </div>
  </div>
  <div class="right-line"></div>
</div>

<div class="vector-background">
  <img src="assets/img/vector2.svg" alt="">
</div>