@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.first-section-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: #fff;

  .first-section {
    width: 1440px;
    display: flex;
    justify-content: space-between;

    .left-side {
      display: flex;
      justify-content: flex-start;
      width: 40%;
      max-height: 650px;

      img {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        width: 100%;
      }
    }

    .right-side {
      display: flex;
      align-items: center;
      margin-bottom: 280px;

      p {
        transform: rotate(270deg);
        font-size: 64px;
        font-weight: 400;
        position: relative;
        bottom: 45px;
        left: 20px;
        letter-spacing: 2px;
      }

      .name {
        display: flex;
        flex-direction: column;
        align-items: center;

        .my-name {
          font-size: 76px;
          z-index: 2;
          font-weight: 700;
        }

        .frontend-dev {
          font-size: 58px;
          z-index: 2;
          color: #9747ff;
          font-weight: 400;
          letter-spacing: 4px;
          position: relative;
          bottom: 20px;
        }
      }
    }
  }
}

.social-container {
  position: absolute;
  display: flex;
  width: 100%;
  top: 86%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .left-line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4px;
    background-color: #9747ff;
    flex-grow: 1;
    border-radius: 4px;
  }

  .right-line {
    flex-grow: 1;
  }

  .github-linkedin-email {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    align-items: center;

    .scroll-down {
      display: flex;

      img {
        animation: moveUpDown 2s infinite;
      }
    }

    p {
      font-size: 23px;
    }

    .social-png {
      display: flex;
      gap: 40px;
      margin-right: 60px;
      margin-left: 50px;

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.5s ease;
      }

      img:hover {
        transform: rotate(360deg);
      }
    }
  }
}
