<div class="about-me-container" id="about-me">
    <div class="left-line"></div>
    <div class="about-me-section">
        <div class="left-side">
            <div class="about-me">
                <h1 class="hidden" [ngClass]="{'aboutMeDe': germanIsSelected}">
                    {{'aboutMe' | translate}}
                </h1>
                <p>
                    {{'aboutMeText' | translate}}
                </p>
                <div class="personal-info">
                    <div class="left-side-img">
                        <img src="assets/img/bulb desktop.svg" alt="">
                    </div>
                    <div class="right-side-info">
                        <p>
                            {{'aboutMeTextFirst' | translate}}
                        </p>
                    </div>
                </div>
                <div class="personal-info">
                    <div class="left-side-img">
                        <img src="assets/img/puzzle desktop.svg" alt="">
                    </div>
                    <div class="right-side-info">
                        <p>
                            {{'aboutMeTextSecond' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="image-container-face"></div>
        </div>
    </div>
    <div class="right-line"></div>
    <div class="purple-shadow">
        <img src="assets/img/purple-shadow.png" alt="">
    </div>
</div>