<div class="impressum-container">
  <div class="impressum">
    <h2>{{ 'imprintHeader' | translate }}</h2>
    <div class="impressumText">
      <h3>{{ 'declarations' | translate }}</h3>
      <p>
        Bastian Weschasit<br>
        Im Maueracker 11<br>
        56322 Spay
      </p>

      <h3>{{ 'representedBy' | translate }}</h3>
      <p>
        Bastian Weschasit
      </p>

      <h3>{{ 'myContact' | translate }}</h3>
      <p>
        Telefon: 0173 5179308<br>
        E-Mail: bastianwe&#64;gmx.net
      </p>

      <p>{{ 'myContactText' | translate }}</p>

      <h3>{{ 'liability' | translate }}</h3>
      <p>{{ 'liabilityText' | translate }}</p>

      <h3>Google Analytics</h3>
      <p>{{ 'googleAnalytics' | translate }}</p>

      <p>
        {{ 'generateImprint' | translate }} <a href="https://www.impressum-generator.de" target="_blank"
          style="text-decoration: none;">{{ 'generateImprintLink' | translate }}</a>
      </p>
    </div>
  </div>
</div>