<div class="impressum-container">
  <div class="impressum">
    <h2>Imprint</h2>
    <div class="impressumText">
      <h3>According to § 5 TMG</h3>
      <p>
        Bastian Weschasit<br>
        Im Maueracker 11<br>
        56322 Spay
      </p>

      <h3>Represented by:</h3>
      <p>
        Bastian Weschasit
      </p>

      <h3>Contact:</h3>
      <p>
        Telefon: 0173 5179308<br>
        E-Mail: bastianwe&#64;gmx.net
      </p>

      <p>

        The contents of our pages have been created with the greatest care. However, we cannot accept any liability for
        the
        accuracy, completeness and timeliness of the contents. As a service provider, we are responsible for our own
        contents on
        these pages in accordance with Section 7 Para. 1 German Telemedia Act (TMG). However, according to Sections 8 to
        10
        German Telemedia Act (TMG), as a service provider we are not obligated to monitor submitted or stored
        third-party
        information or to search for circumstances that indicate illegal activities. Obligations to remove information
        or to
        block the use of information in accordance with general laws remain unaffected. In this case, liability is only
        possible
        at the time of knowledge about a specific violation of law. If we become aware of such violations of law, we
        will remove
        this content immediately.

        <!-- Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
        Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als
        Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
        allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
        verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen
        zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder
        Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine
        diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung
        möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
        entfernen. -->
      </p>

      <h3>Liability for links</h3>
      <p>
        Our offer contains links to external third-party websites over whose content we have no influence. We therefore
        cannot
        accept any liability for this external content. The respective provider or operator of the pages is always
        responsible
        for the content of the linked pages. The linked pages were checked for possible legal violations at the time of
        linking.
        Illegal content was not recognizable at the time of linking. However, permanent control of the content of the
        linked
        pages is not reasonable without concrete evidence of a legal violation. If we become aware of any legal
        violations, we
        will remove such links immediately.

        <!-- Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss
        haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
        verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die
        verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
        Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche
        Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht
        zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen. -->
      </p>

      <h3>Google Analytics</h3>
      <p>
        This website uses Google Analytics, a web analysis service provided by Google Inc. ("Google"). Google Analytics
        uses
        "cookies", which are text files placed on your computer, to help the website analyze how users use the site. The
        information generated by the cookie about your use of the website (including your IP address) will be
        transmitted to and
        stored by Google on servers in the United States. Google will use this information to evaluate your use of the
        website,
        to compile reports on website activity for website operators, and to provide other services related to website
        activity
        and internet usage. Google may also transfer this information to third parties where required to do so by law,
        or where
        such third parties process the data on Google's behalf. Google will never associate your IP address with any
        other data
        held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however
        please
        note that if you do this you may not be able to use the full functionality of this website. By using this
        website you
        consent to the processing of data about you by Google in the manner and for the purposes set out above.


        <!-- Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google
        Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die
        eine Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten
        Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen
        Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen
        benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die
        Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung
        verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an
        Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von
        Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in
        Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer
        Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls
        nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser
        Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor
        beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden. -->
      </p>

      <p>
        Website Imprint of <a href="https://www.impressum-generator.de" target="_blank"
          style="text-decoration: none;">Impressum-Generator</a>

        <!-- Website Impressum von <a href="https://www.impressum-generator.de" target="_blank"
          style="text-decoration: none;">Impressum-Generator</a> -->
      </p>
    </div>
  </div>
</div>