<div class="my-skill-container" id="my-skills">
  <div class="my-skill-section">
    <div class="left-side">
      <div class="img-container">
        <img src="assets/img/angular.svg" alt="">
        <img src="assets/img/ts.svg" alt="">
        <img src="assets/img/js.svg" alt="">
        <img src="assets/img/html.svg" alt="">
        <img src="assets/img/firebase.svg" alt="">
        <img src="assets/img/git.svg" alt="">
        <img src="assets/img/css.svg" alt="">
        <img src="assets/img/api.svg" alt="">
        <img src="assets/img/scrum.svg" alt="">
        <img src="assets/img/materialdesign.svg" alt="">
      </div>
    </div>
    <div class="right-side">
      <div class="my-skills-container">
        <div class="my-skills hidden">
          <p>My skills</p>
        </div>
        <div class="info-box-and-button-container">
          <div class="my-skills-info">
            <p>I have gained experience in building projects with various front end technologies and concepts</p>
          </div>
          <button class="lets-talk-button" (click)="handleClick()">Get in touch</button>
        </div>
      </div>
    </div>
  </div>
  <div class="green-shadow">
    <img src="assets/img/green-shadow.svg" alt="">
  </div>
</div>