<div class="impressum-container">
    <div class="impressum">
        <h2>
            {{'policyHeader' | translate}}
        </h2>
        <div class="impressumText">
            <h3>
                {{'declarations' | translate}}
            </h3>
            <p>
                Bastian Weschasit<br>
                Im Maueracker 11<br>
                56322 Spay
            </p>
            <h3>
                {{'representedBy' | translate}}
            </h3>
            <p>
                Bastian Weschasit
            </p>
            <h3>
                {{'myContact' | translate}}
            </h3>
            <p>
                Telefon: 0173 5179308<br>
                E-Mail: bastianwe&#64;gmx.net
            </p>
            <h3>
                {{'introduction' | translate}}
            </h3>
            <p>
                {{'introductionText' | translate}}
            </p>
            <h3>
                {{'areaOfApplicationHeadline' | translate}}
            </h3>
            <p>
                {{'areaOfApplicationText' | translate}}
            </p>
            <h3>
                {{'legalBasis' | translate}}
            </h3>
            <p>
                <span>
                    {{ 'legalBasisText' | translate }}
                </span>
                <span>
                    <a href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679" target="_blank">
                        https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679
                    </a>
                </span>
                {{ 'legalBasisTextContinue' | translate }}
            </p>
            <h3>
                {{'contactDetails' | translate}}
            </h3>
            <p>
                {{ 'contactDetailsText' | translate }} <a href="https://www.bastian-weschasit.de/impressum/"
                    target="_blank">https://www.bastian-weschasit.de/impressum/</a>
            </p>
            <h3>
                {{ 'storagePeriod' | translate }}
            </h3>
            <p>
                {{ 'storagePeriodText' | translate }}
            </p>
            <h3>
                {{ 'dataProtectionHeadline' | translate }}
            </h3>
            <p>
                <span>
                    {{ 'dataProtectionText' | translate }}
                </span>
                <span>
                    <a href="https://www.dsb.gv.at/" target="_blank">https://www.dsb.gv.at/.</a>
                </span>
                {{ 'dataProtectionContinue' | translate }}
                <br><br>
                {{ 'source' | translate }} <a href="https://www.adsimple.de/datenschutz-generator/" target="_blank"
                    style="text-decoration: none;">AdSimple</a>
            </p>
        </div>
    </div>
</div>