<div class="headline-container">
    <div class="portfolio-headline">
        <div class="left-line-wrapper">
            <div class="left-line"></div>
            <div class="left-line-cover"></div>
        </div>
        <h1>Portfolio</h1>
        <div class="right-line"></div>
    </div>
    <div class="portfolio-text">
        <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
    </div>
</div>
<div class="portfolio-container">
    <div class="portfolio-wrapper-join">
        <div class="left-side">
            <img src="assets/img/Join.svg" alt="">
        </div>
        <div class="right-side">
            <h2>Join</h2>
            <span>JavaScript | HTML | CSS</span>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories.
            </p>
            <div class="buttons-wrapper">
                <button class="live-test-button">Live Test</button>
                <button class="github-button">Github</button>
            </div>
        </div>
    </div>
    <div class="portfolio-wrapper-el-pollo-loco">
        <div class="left-side">
            <img src="assets/img/elpollo.svg" alt="">
        </div>
        <div class="right-side">
            <h2>El Pollo Loco</h2>
            <span>JavaScript | HTML | CSS</span>
            <p>A simple Jump-and-run game based on an object-oriented approach. Help Pepe to find coins and salsa
                bottles to fight
                against the killer chicken.
            </p>
            <div class="buttons-wrapper">
                <button class="live-test-button">Live Test</button>
                <button class="github-button">Github</button>
            </div>
        </div>
    </div>
    <div class="portfolio-wrapper-join">
        <div class="left-side">
            <img src="assets/img/pokedex.svg" alt="">
        </div>
        <div class="right-side">
            <h2>Pokédex</h2>
            <span>JavaScript | HTML | CSS | API</span>
            <p>Based on the PokéAPI a simple library that provides and catalogues pokemon information.
            </p>
            <div class="buttons-wrapper">
                <button class="live-test-button">Live Test</button>
                <button class="github-button">Github</button>
            </div>
        </div>
    </div>
    <div class="purple-shadow-big">
        <img src="assets/img/purple shadow big.svg" alt="">
    </div>
</div>